---
---

@import "{{ site.theme }}";

h1.title {
  color: #868686;
  font-family: fantasy;
  font-style: normal;
}

.download-bar {
  background: #64ffcf;
  .inner {
    font-size: 16px;
    color: #ff00af;
    font-weight: bold;
    a {
      color: #0064bb;
      border-bottom: 1px solid #0064bb;
  }
}

.current-section {
  display: none;
}

.markdown-body {
  color: #444;
  h1, h2 {
    color: #666;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 28px
  }
}
