---
---

@import "{{ site.theme }}";

body {
  background: #555;
}

.wrapper {
  width: 660px;
  margin: 0 auto;
}

h1.title {
  color: #868686;
  font-family: inherit;
  font-style: normal;
}

.download-bar {
  background: #64ffcf;
  box-shadow: 5px 5px 10px #666;
  .inner {
    display: flex;
    justify-content: space-between;
    line-height: 11px;
    font-size: 16px;
    color: #ff00af;
    font-weight: bold;
    &>div {
      display: flex;
      align-items: center;
    }
    a {
      color: inherit;
    }
    .answer {
      margin: 0 10px;
      color: #666;
      font-weight: normal;
    }
    img {
      filter: saturate(0%);
    }
    .link {
    }
  }
}

.current-section {
  display: none;
}

.markdown-body {
  color: #444;
  h1, h2 {
    color: #666;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 28px
  }
}

footer {
  color: #666;
  .owner {
    background: #ddd url(../images/pattern.png);
    margin: -50px 0 0;
    border: none;
    padding: 15px;
    
    a {
      color: #0064bb;
    }
  }
  .creds {
  }
}


@media (max-width: 700px) {
  .wrapper {
    width: auto;
    margin: 0 20px;
  }
}
