---
---

@import "{{ site.theme }}";

.wrapper {
  width: 660px;
  margin: 0 auto;
}

h1.title {
  color: #868686;
  font-family: inherit;
  font-style: normal;
}

.download-bar {
  background: #64ffcf;
  .inner {
    font-size: 16px;
    color: #ff00af;
    font-weight: bold;
    a {
      color: #0064bb;
      border-bottom: 1px solid #0064bb;
    }
  }
}

.current-section {
  display: none;
}

.markdown-body {
  color: #444;
  h1, h2 {
    color: #666;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 28px
  }
}

footer {
  .owner {
    margin: -50px 0 0;
    border: none;
    padding: 10px;
  }
}


@media (max-width: 700px) {
  .wrapper {
    width: auto;
    margin: 0 20px;
  }
}
